
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* navbar */

.navbar-nav {
    margin-right: 0 !important;
    padding-right: 100px;
}

.navbar {
    background-color: #ede4e0;
    color: white !important;
}

.nav-item a {
    color: white;
}

.nav-item {
    padding-left: 2px;
}

.navbar-brand {
    color: black !important;
    padding-left: 100px;
}

#navbar-button {
    color: white !important;
}

#navbarSupportedContent {
    padding-left: 100px;
}

.social-nav {
    border: solid;
    border-radius: 3em;
    background-color: lightblue;
    box-shadow: 1px 3px;
    padding-left: 8px;
    padding-right: 8px;
}


/* banner */

#banner-container {
    background-color: white;
    color:white;
    padding: 0;
}

#banner img {
    width: 100%;
    height: auto;
    display: block;
}

#banner-row img {
    max-width: 70%;
    height: auto;
    display: block;
    padding-left: 30px;
}

#banner-row h3, p {
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}

#banner-row a{
    background-color: none;
    color: black !important;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}

#banner-col {
    padding-left: 20px;
}

/* portfolio */

#portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: lightblue;
}

#portfolio h1 {
    padding-bottom: 70px;
}

.project-desc {
    text-align: left;
}

/* about */

#about {
    padding-top: 80px;
    padding-bottom: 80px;
}

#about h1 {
    padding-bottom: 40px;
}

#about-col ul {
    padding-top: 30px;
    padding-left: 50px;
}

#about-col ul li {
    padding-top: 15px;
    list-style-type: none;
}

/* case-study */

#case-study {
    padding: 80px 20px 80px 20px;
    background-color: lightblue;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}

#case-study h2 {
    text-align: center;
}



/* contact */

#contact {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: lightblue;
}

#contact h1 {
    padding-bottom: 50px;
}

.contact-col {
    text-align: center;
}

.contact-col a{
    text-decoration: none;
    color: black;
}

.contact-col a:hover i{
    transform: translateY(-10px);
}

#contact-row {
    flex-direction: row;
}

#contact-icon {
    font-size: 50px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

/* media */

@media only screen and (max-width: 987px) {
    .navbar-brand{
        padding-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #banner-row img{
        padding-top: 20px;
    }

    .contact-col {
        width: 33%;
    }
}

/* footer styles */
footer {
    background-color: #ede4e0;
    font-size: small;
    padding: 20px 0px 20px 0;
    text-align: center;
    margin-top: -5px;
}
