
body {
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

/* header styles */

header {
    background-color: #ede4e0;
    padding: 20px;
    margin: -10px -10px -10px -10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.logo {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;
    margin: 2px 10px 5px 20px;
    padding-bottom: 5px;
}

.hamburger {
    font-size: 40px;
    padding-bottom: 10px;
    padding-right: 20px;
    cursor: pointer;
    margin-top: 12px;
}

.nav-menu {
    position: fixed;
    top: 6rem;
    background-color: #ede4e0;
    width: 100%;
    margin-left: -10px;

}

.nav-menu a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 1.05rem;
}

.nav-menu a:hover {
    text-decoration: none;
    border-radius: 3em;
    background-color: lightblue;
    border: black solid;
    color:black;
    box-shadow: black 1px 3px;
}

.nav-menu a:active {
    text-decoration: none;
    border-radius: 3em;
    background-color: lightblue;
    border: solid;
    box-shadow: 1px 3px;
}

.nav button {
    text-align: center;
    border: solid;
    border-radius: 3em;
    background-color: lightblue;
    box-shadow: 1px 3px;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 0.5rem;
}

.social-buttons a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

@media  screen and (min-width: 900px) {
    .nav-menu {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav-menu a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}


/* main styles */


.hero-img {
    width: 100%;
    height: auto;
}

.front-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: lightblue;
}

.place-desc {
    margin-top: 60px;
    margin-right: 10px;
}

.place-desc2 {
    margin-left: 60px;
    margin-top: 60px;
}

.placeholder {
    width: 600px;
    height: 600px;
}

.project-img {
    width: 600px;
    height: 600px;
    border: 5px;
}

.page-headers {
    text-align: center;
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 900px) {


    .front-projects {
        display: inline-block;
        margin: auto;
    }

    .place-desc {
        height: auto;
        width: auto;
    }

    .project-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 80%;
    }

}

/* footer styles */
footer {
    background-color: #ede4e0;
    font-size: small;
    padding: 20px 0px 20px 0;
    text-align: center;
    margin-top: -5px;
}
